<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formuláio de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<form method="post" action="noticias/salvar">
			<label>titulo</label>
			<br>
			<input type="text" name="titulo" id="titulo" placeholder="titulo da noticia">
			<br>
			<label>noticia</label>
			<br>
			
			<textarea type="text" name="noticia" id="noticia" placeholder="descri?o da noticia"></textarea>
			<input type="submit" value="Enviar">
		</form>
	</body>
</html>